/* removing space outside body */
  html, body {
    margin: 0;
    padding: 0;
  }

/* larger containers */
  #wrapper {
    max-width: 920px;
    margin: 0 auto;

    /* applying font to size and family to everything inside unless a more specific rule overrides it */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.75em;
  }

  header {
    text-align: center;
    margin-bottom: 1.6em;
  }

  /* clears after main to allow footer space */
  main::after {
    content: "";
    display: block;
    clear: both;
  }

  footer {
    text-align: center;
    margin-top: 2.3em;
  }

/* title font and color */
h1 {
  color: #660000;
  font-family: 'Modern Antiqua', cursive;
  font-size: 3.5em;
  font-weight: normal;
  padding: 0.5% 0;
  margin: 0.5em 0 0.4em;
}

img {
  width: 100%;
}

/* left and right colums */
  .left, .right {
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 0.5% 1% 1% 1%;
    border: 1px solid black;
    line-height: 1.5;
  }

  /* margin between left and right column */
  .left {
    margin: 0 2% 0 0;
  }

/* text styles in columns */
  p {
    margin: 0 0 1.4em 0;
  }

  /* last paragraph of last section in each div should have no bottom margin */
  section:last-child p:last-child {
    margin: 0;
  }

  strong, h2 {
    font-size: 1.16em;
  }

  h2 {
    margin: 0 0 1.3em 0;
  }

/* text styles in footer */
  a {
    display: block;
    margin: 2em 0 4em 0;
    text-decoration-color: #575757;
    color: black;
  }

/* styling hr to look like simple black border */
  hr {
    border: 0 solid black;
    border-top-width: 1px;
  }
