/* Columns CSS */
/* when using floats, adds clear element */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

[class*="col"] {
  /* variables */
  --totalCols: 12;
  --widthOf1: calc(100% / var(--totalCols));
  float: left;
  padding-left: 2%;
  padding-right: 2%;

  --numCols: var(--totalCols);
  width: calc(var(--widthOf1) * var(--numCols));

  &.-noPad {
    padding-left: 0;
    padding-right: 0;
  }

  &.-leftPad {
    padding-left: 2%;
    padding-right: 0;
  }

  &.-rightPad {
    padding-left: 0;
    padding-right: 2%;
  }
}

// SASS function for calculating width
@mixin colMod($nCol) {
  $i: 1;
  @while $i <= $nCol {
    @if $i == $nCol {
      .col#{$i} {
        --numCols: #{$i};
        float: none;
      }
    } @else {
      .col#{$i} {
        --numCols: #{$i};
      }
    }

    $i: $i+1;
  }
}

@include colMod(12)
