/* Standard styling i.e. resetting styles and image styles */

/* resetting styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  /* no horizontal scrolling issues, smooth scrolling on in page links */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* making images inline-block and responsive to their container/wrapper */
img {
  width: 100%;
  height: auto;
  display: block;
}
