// Standard styling of things
@import 'standard';

// Column styling using floats
@import 'col';

/* Main CSS */

/* Variables */
html {
  /* Fonts */
  --font: 'Roboto', sans-serif;
  --titleFont: "Rock Salt", cursive;

  /* Colors */
  --cBlack: #000;
  --cWhite: #fff;

  /* Sizes */
  --maxWidth: 960px;
}

// Center styling
@mixin center {
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {}

/* Header styles */
header {
  h1 {}
  img {}
  .logo {}
}

/* Main styles */
main {
  h1 {}
}

/* Stuff about Lynn Gunn */
.aboutLynn {
  position: relative;
  &__background {
    position: absolute;
    width: 100%;
    background: var(--cBlack);
  }
}

/* Fun facts about Lynn section */
.funFact {
  &__icon {
    &.-pisces {
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-weight: 900;
      font-size: 1.2em;
      font-family: "arial unicode ms","Lucida Sans Unicode",sans-serif;
    }
  }
  &__title {}
  &__answer {}
}

/* Album section */
.albums {}
.albumWrapper {}
.album {
  float: left;
  width: calc(100% / 4);
  padding: .2%;

  &__art {}
  &__title {}
  &__date {}
}
.spotify {}

/* Site footer section */
.navWrapper {
  max-width: var(--maxWidth);
}
nav {
  &.__soMe {}
  &.__extraLinks {}

  li {
    display: block;
    float: left;
  }

  a {
    padding: .5em 1.1em;
  }
}
