/* Standard styling i.e. resetting styles and image styles */
/* resetting styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
}

/* no horizontal scrolling issues, smooth scrolling on in page links */
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* making images inline-block and responsive to their container/wrapper */
img {
  width: 100%;
  height: auto;
  display: inline-block;
}

/* Columns CSS */
/* when using floats, adds clear element */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

[class^="col"] {
  /* variables */
  --totalCols: 12;
  --widthOf1: calc(100% / var(--totalCols));
  float: left;
  padding-left: .5%;
  padding-right: .5%;
  --numCols: var(--totalCols);
  width: calc(var(--widthOf1) * var(--numCols));
}

[class^="col"].-noPad {
  padding-left: 0;
  padding-right: 0;
}

[class^="col"].-leftPad {
  padding-left: .5%;
  padding-right: 0;
}

[class^="col"].-rightPad {
  padding-left: 0;
  padding-right: .5%;
}

.col1 {
  --numCols: 1;
}

.col2 {
  --numCols: 2;
}

.col3 {
  --numCols: 3;
}

.col4 {
  --numCols: 4;
}

.col5 {
  --numCols: 5;
}

.col6 {
  --numCols: 6;
}

.col7 {
  --numCols: 7;
}

.col8 {
  --numCols: 8;
}

.col9 {
  --numCols: 9;
}

.col10 {
  --numCols: 10;
}

.col11 {
  --numCols: 11;
}

.col12 {
  --numCols: 12;
  float: none;
}

/* Main CSS */
/* Variables */
html {
  /* Fonts */
  --font: 'Roboto', sans-serif;
  --titleFont: "Rock Salt", cursive;
  /* Colors */
  --cBlack: #000;
  --cWhite: #fff;
  /* Sizes */
  --maxWidth: 960px;
}

/* Header styles */
/* Main styles */
/* Stuff about Lynn Gunn */
.aboutLynn {
  position: relative;
}

.aboutLynn__background {
  position: absolute;
  width: 100%;
  background: var(--cBlack);
}

/* Fun facts about Lynn section */
.funFact__icon.-pisces {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 1.2em;
  font-family: "arial unicode ms","Lucida Sans Unicode",sans-serif;
}

/* Album section */
.album {
  float: left;
  width: calc(100% / 4);
  padding: .2%;
}

/* Site footer section */
.navWrapper {
  max-width: var(--maxWidth);
}

nav li {
  display: block;
  float: left;
}

nav a {
  padding: .5em 1.1em;
}
