@import 'standard';
/* Variables */
:root {
  /* Fonts */
  --f-sans: 'Roboto', sans-serif;
  /* Colors in RGB format. */
  // Must use uppercase RGB() and RGBA() for parsing
  --c-black: 0,0,0;
  --c-white: 252, 252, 250;
  --c-yellow: 255, 240, 144;
  /* Site Widths */
  --maxDesktop: 800px;
}
@function color($color-name) {
  @return var(--c-#{$color-name});
};
@mixin center($width) {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--#{$width});
}
/* reseting material icons font size to 1em */

.material-icons {
  font-size: 1em;
}
/* classes for media queries:
.--m = mobile (450px and smaller)
.--d = desktop (451px and larger) */
/* Hiding all desktop elements at base */
.--d,
.hidden,
.menu > a.hidden,
.menu > button.hidden {
  display: none;
}
// Actual cody time!

body {
  background: linear-gradient(to bottom, RGBA(color('black'),0.4), RGBA(color('black'),0.96)) fixed, url("./images/bg2.png");
  font-family: var(--f-sans);
  color: RGB(color('white'));
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  line-height: 1.3;
}

a {
  color: RGBA(color('yellow'));
  text-decoration: none;
  font-weight: 500;
  transition: 0.4s ease;

  &:hover {
    filter: brightness(1.5);
  }
}

h1 {
  font-size: 2.3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7em;
  position: relative;

  &::after,
  &::before {
    content: "";
    display: block;
    height: 0;
    flex: 1;
    border-top: 2px solid RGBA(color('yellow'));
  }

  &::before {
    margin-right: 0.5em;
  }

  &::after {
    content: "";
    margin-left: 0.5em;
  }
}
/* --- */
/* header start */
header {
  background: RGB(color('black'));
  position: sticky;
  z-index: 10;
  top: 0;
}

.headerWrapper {
  @include center(maxDesktop);
  position: relative;
  display: flex;
  background: RGB(color('black'));
  height: 60px;

  > * {
    padding: 8px;
    background: unset;
    border: none;
  }

  a,
  button {
    transition: filter 0.2s ease;
    cursor: pointer;

    &:hover {
      filter: brightness(1.5);
    }
  }

  .logo {
    display: block;
    flex: 0;
    width: min-content;
    margin-right: auto;

    img {
      height: 100%;
      width: auto;
    }
  }

  > button {
    min-width: 50px;
    font-size: 1.8em;
    color: RGB(color('yellow'));
  }
}
/* menu start */

.menuToggle {
  margin-right: 10px;
}

.menu {
  position: absolute;
  box-shadow: 0 2px 5px RGBA(color('black'),0.2);
  border-radius: 10px;
  top: 60px;
  right: 0;
  width: calc(100% - 16px);
  max-width: 483px;
  background: RGB(color('white'));
  margin: 8px;
  // speech bubble stuff
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-bottom-color: RGB(color('white'));
    border-width: 0 10px 18px 10px;
    margin-left: -18px;
    margin-top: -18px;
  }

  a,
  button {
    display: flex;
    border: none;
    background: none;
    justify-content: space-between;
    padding: 5px;
    text-decoration: none;
    color: RGB(color('black'));
    font-weight: 600;
    width: 100%;
    align-items: baseline;
    font-size: 1em;
    transition: 0.5s ease;

    &:hover {
      filter: brightness(0.85);
      color: RGB(color('yellow'));
    }

    &::before {
      display: inline-block;
      order: 1;
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      content: "arrow_forward_ios";
    }
  }
}
/* menu end */
/* header end */
/* --- */
/* main start */
main {
  @include center(maxDesktop);
  min-height: calc(100vh - 165px);
}

.mainContent {
  section:not(:first-child) h2 {
    margin: 1.2em 0 10px;
    padding-left: 10px;
  }

  section:first-child h2 {
    margin: 10px 0;
    padding-left: 10px;
  }

  h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.8em;

    &::after {
      content: "";
      display: block;
      height: 0;
      flex: 1;
      border-top: 1px solid RGBA(color('yellow'));
      margin-left: 0.5em;
    }
  }
  @at-root p {
    margin: 10px 0;
    padding: 0 10px;
  }
  @at-root figcaption {
    margin: 2px 0;
    padding: 0 10px;
    font-style: italic;
    font-size: 0.9em;
  }

  .warning.--m {
    margin: 1.5em 10px 3em;
    color: RGBA(color('yellow'));
    border: 2px solid RGBA(color('yellow'));
    display: flex;

    .warnSign {
      display: flex;
      background: RGBA(color('yellow'));
      flex: 2;
      color: RGBA(color('black'));
      justify-content: center;
      align-items: center;
      font-size: 3em;
    }

    .text {
      flex: 8;
      font-size: 0.9em;
      font-style: italic;
      font-weight: bold;
    }
  }
}
/* main end */
/* --- */
/* footer start */
footer {
  background: RGB(color('black'));
  margin-top: 2em;
}

.footerWrapper {
  @include center(maxDesktop);
  font-size: 1.4em;
  height: 100px;
  padding-top: 0.8em;
  padding-right: 10px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    text-align: center;

    &:first-child {
      flex: 100%;
      // margin-right: auto;
    }

    a {
      padding: 5px;
      margin: 5px;
    }
  }
}
/* footer end */
@media (min-width: 400px) {
  .footerWrapper {
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    li {
      text-align: left;

      &:first-child {
        flex: 100%;
        margin-right: auto;
      }
    }
  }
}
@media (min-width: 800px) {
  main {
    padding: 20px;

    figure {
      padding: 10px;
    }
  }

  .chara {
    .flexContain {
      display: flex;
      flex-wrap: wrap;
      padding: 7px;

      section {
        flex: 1 20%;
      }

      img {
        height: 300px;
      }

      .findMore a {
        width: 100%;
      }
    }
  }

  .download {
    flex-direction: row;
  }
}
