
@import 'site';

.chara {
  .flexContain {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;

    section {
      flex: 1 50%;
      padding: 7px;
      position: relative;
    }

    img {
      object-fit: cover;
      height: 150px;
    }

    a {
      text-decoration: none;
    }

    .findMore,
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1em;
      text-align: center;
    }

    h3 {
      background: RGBA(color('black'),0.75);
      position: absolute;
      z-index: 2;
      bottom: 10px;
      padding: 7px 0;
      width: calc(100% - 14px;);
    }

    .findMore a {
      flex: 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 10%;
      height: 100%;
      background: RGBA(color('yellow'), 0.2);
    }
  }
}

.download {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2em 5%;

  a {
    flex: 1;
    padding: 20px 10px;
    border: 2px inset RGB(color('yellow'));
    background: RGBA(color('black'),0.6);
    border-radius: 10px;
    margin: 5px 10px;
    font-size: 1.2em;
    text-align: center;
  }
}
/* main end */
/* --- */
/* footer start */
footer {
  background: RGB(color('black'));
}

.footerWrapper {
  @include center(maxDesktop);
  font-size: 1.4em;
  height: 100px;
  padding-top: 0.8em;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    text-align: center;

    &:first-child {
      flex: 100%;
    }

    a {
      padding: 5px;
      margin: 5px;
    }
  }
}

@media (min-width: 800px) {
  .chara {
    .flexContain {
      display: flex;
      flex-wrap: wrap;
      padding: 7px;

      section {
        flex: 1 20%;
      }

      img {
        height: 300px;
      }

      .findMore a {
        width: 100%;
      }
    }
  }

  .download {
    flex-direction: row;
  }
}
